@import './variables';
@import './utils'; 

header {
    position: relative;
    a {
        text-decoration: none;
        color: inherit;
    }

    .contato {
        @include flexCenter(center, center, space-around);
        font-size: 13px;
        font-weight: 300;
        height: 25px;
        width: 100%;
        background-color: $bg-color-grey;
        color: $font-color-grey;

        .icon {
            position: relative; // Tamanho e afastamento dos ícones
            right: 10px;
            height: 17px;
        }
        
        
        .contact-icon-desktop {
            padding-left: 50px;
        }

        .contact-icon-mobile {
            display: none;
        }

        div {
            @include flexCenter(center, center, unset) // centralizando ícones dentro das divs
        }
        
        @media(max-width: 768px) {
            a {
              display: none;   
            }
            .contact-icon-desktop {
                display: none;

            }

            .contact-icon-mobile {
                display: inline-block;
            }
            height: 40px;
        }
    }

    .banzai-logo {
        @include flexCenter(row, center, space-around);
        position: relative;
        height: 90px;
        

        div {
            span {
                position: relative;
                font-weight: 300;
                font-size: 18px;
                color: $font-color-grey;
                display: block;
            }

            #phone-number {
                font-weight: 300;
                font-size: 30px;
                color: $font-color-red;
                text-align: center;
            }
        }

        @media(max-width: 768px) {
            @include flexCenter(column, center, space-around);
            height: 200px;
        }
    }

    .civic-imagem {

        // Configura o banner no inicío da página

        position: relative;
        background-color: #fff;
        background-image: url(../../src/assets/img/Civic_img_desktop.png);
        background-size: 100% 400px;
        background-repeat: no-repeat;
        height: 400px;

        #civic-titulo {
            display: none; // titulo que aparece abaixo da imagem do civic somente no mobile
            
        }

        #selo {
            position: absolute;
            bottom: 35px;
            left: 100px;
        }

        @media(max-width: 768px) {
            @include flexCenter(row, center, center);
            width: 100%;
            background-size: auto;
            background-position: center;
            background-image: url(../../src/assets/img/Civic_EXL_2017_3_4_Lado_A_Preto_72dpi.png);
            height: 400px;
            #civic-titulo {
                display: inline-block;
                position: absolute;  
                bottom: 0;
            }
            #selo {
                display: none;
            }
        }
    }

    .form-area {
        // essa classe centraliza e posiciona o formuláro
        @include flexCenter(row, center, center);
        position: fixed;
        top: 220px;
        height: 352px;
        width: 270px;
        right: 60px;
        z-index: 200;

        .form {

            // essa classe e tudo dentro de seu escopo estliza o formulário e o deixa responsivos

            @include flexCenter(column, space-around,center );
            width: 95%;
            height: 95%;
            padding: 15px;
            border-radius: 5px;
            background-color: $bg-color-grey;
            font-family: inherit;
            box-shadow: 1px 1px 5px $font-color-grey;

            #contato {
                display: inline-block;
                padding: 0 10px;
                span {
                    font-weight: 300;
                    display: block;
                    font-size: 20px;
                    color: $font-color-red;
                }
            }

            .input-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 4px 0;
                height: 37px;
                background-color: $bg-color-grey;
                border: 1px solid $font-color-grey;
                border-radius: 5px;
                color: $font-color-grey;
                font-weight: 300;
                span {
                    height: 20px;
                    padding: 0px 10px;
                }
                input, select {
                    height: 100%;
                    font-size: 18px;
                    color: $font-color-grey;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    height: 100%;
                    width: 100%;
                    transition: border 0.5s;
                }
            }

            .submit-button {
                position: relative;
                top: 4px;
                outline: none;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                font-family: inherit;
                font-weight: 900;
                height: 60px;
                color: white;
                background-color: #1CB72A;
                transition: all 0.3s;
            }

            .submit-button:hover {
                background-color: #068310;
            }
        }

        @media(max-width: 768px) {
            position: relative;
            top: 0;
            right: 0;
            height: 500px;
            width: 100%;
            .form {
                width: 80%;
                height: 85%;
                
                .input-container {
                    height: 40px;
                    margin: 8px 0;
                }

                .submit-button {
                    position: relative;
                    top: 8px;
                    height: 70px;
                }
            }
        } 
    }
}