
// Cores

$bg-color: #fff; // Cor de fundo padrão
$bg-color-grey: #EEEEEE;
$font-color-grey: #999898;
$font-color-red: red;

// espaçamento lateral padrão nas sections dekstop

$padding-desktop: 45px;
