@import './variables';
@import './utils'; // Funções úteis para o projeto
@import './header'; // header style
@import './novo-civic-section'; // Seção civic branco style
@import './novo-civic-interior-section'; // Seção banner interior civic
@import './carrousel-detalhes-section'; // Seção carousel
@import './opcoes-honda-section'; // Seção com os cards

body, html {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
};


.container {
    position: relative;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    background-color: $bg-color;
}

footer {

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .sub-footer {
        @include flexCenter(column, center, space-around);
        background-color: $bg-color-grey;
        height: 320px;

        .social-icons {
            span {
                margin: 0 10px;
                a {
                    text-decoration: none;
                }
            }
        }

        h1 {
            font-weight: 300;
            font-size: 30px;
        }

        .avisos-container {

            display: flex;
            flex-direction: row;
            align-items: center;

            color: #727B7A;
            #atendimento {
                span {
                    display: block;
                    color: red;
                    font-size: 2em;
                }
            }

            #local {
                @include flexCenter(row, center, space-evenly);
                font-size: 15px;
                #red {
                   text-align: right;
                   font-size: 1.5em;
                   display: block;
                   color: red; 
                }
            }

            .aviso {
                padding: 5px;
                text-align: center;
                display: inline-block;
                margin: 0 15px;
                height: 70px;
                width: 240px;
                background-color: $bg-color;
                border: 1px solid $font-color-red;
                border-radius: 5px;
            }

            .aviso:hover {
                background-color: #eee;
            }
        }
    }

    @media(max-width: 768px) {
        .sub-footer {
            height: 450px;
            width: 100%;
            @include flexCenter(column, center, unset);

            h1 {
                text-align: center;
            }

            .avisos-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                .aviso {
                    margin: 15px 20px;
                }
            }
        }
    }
}